%li.media.my-4
  = image_tag photo.image.url(:thumb), class: 'mr-3 rounded'

  .media-body
    %p= photo.caption
    %p
      Rating:
      %span.rating{ 'data-photo-id': photo.id }#{photo.average_rating&.round(2)}

    .media.mt-3
      .media-body
        .comments{ data: { 'photo-id': photo.id } }
          %h5 Comments:
          = render photo.comments
        .clearfix

        - if current_user
          .comment-form.mt-3
            = form_with model: @comment, url: gallery_photo_comments_path(photo), remote: true do |f|
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field :photo_id, value: photo.id
              .row
                .col-3
                  .form-group
                    = f.text_field :comment, required: true, placeholder: 'comment...', class: 'form-control form-control-sm mr-2'
                .col-2
                  .form-group
                    = f.number_field :rating, required: true, placeholder: 'rate', step: 1, min: 1, max: 5, class: 'form-control form-control-sm mr-2'
                .col-3
                  .form-group
                    = f.submit class: 'btn btn-primary btn-sm'

  .float-right
    = link_to gallery_photo_path(photo), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } do
      = fa_icon 'trash'
